.about-h3 h3 {
  color: var(--main-dark-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 80px;
}

.box-about {
  background-color: var(--secound-bg-color);
}
.green-box {
  background-color: var(--main-green-color);
}
.box-about h4 {
  font-weight: 800;
  font-size: 29px;
  line-height: 37.7px;
  color: var(--main-green-color);
}
.green-box h4 {
  font-weight: 800;
  font-size: 29px;
  line-height: 37.7px;
  color: var(--secound-bg-color);
}
.box-about p {
  font-weight: 700;
  font-size: 15px;
  line-height: 28.11px;
  max-width: 650px;
}
/* why-us */
.why-us {
  background-color: var(--main-green-color);
  border-radius: var(--md-border);
}
.why-us h3 {
  font-weight: 900;
  font-size: 39px;
  line-height: 50.7px;
  color: var(--secound-bg-color);
}
.why-us .why-us-box {
  background-color: var(--secound-bg-color);
}
.why-us .why-us-box h3 {
  font-weight: 800;
  font-size: 20px;
  line-height: 26.4px;
  color: var(--main-green-color);
}
.why-us .why-us-box p {
  color: #54595f;
  font-weight: 700;
  font-size: 15px;
  line-height: 26.4px;
}
