.heroHome {
  width: 100%;
  overflow-x: hidden;
  margin: 30px 0;
  border-radius: var(--md-border);
  background-color: var(--main-bgLight-color);
  padding-bottom: 40px;
  padding-top: 20px;
  position: relative;
}
.heroHome .slider { 
  /* transition: transform 0.5s ease-in-out;  */
  /* ----------------------------------------------------------------------- */
  display: flex;
  flex-direction: row-reverse;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}
.heroHome .box {
  position: relative;
  min-width: 100%; 
  height: 700px;
  padding-top: 40px;
  flex: 0 0 100%; 
/* ----------------------------------------------------------------------- */
}
.heroHome .box .title{
  text-align: center;
  width: fit-content;
  font-size: 40px;
  color: var(--main-color);
  font-weight: 700;
  margin: 40px auto  ;

}
.heroHome .box .sliderImg{
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 37%;
  height: 65%;
}
.heroHome .box .subBox.one{
  position: absolute;
  top: 15%;
  right: 10%;
}
.heroHome .box .subBox.two{
  position: absolute;
  top: 45%;
  right: 30%;
}
.heroHome .box .subBox h5{
  background-color: var(--main-dark-color);
  width: fit-content;
  padding: 5px 10px;
  color: white;
  border-radius: var(--sm-border);
  border: 1px solid var(--main-border-color);
  margin: 0 auto 10px ;
}
.heroHome .box .subBox .list{
  background-color: var(--main-dark-color);
  border: 1px solid var(--main-border-color);
  width: 320px;
  border-radius: var(--md-border);
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;
}
.heroHome .box .subBox .list button{
  background-color: var(--body-bg-color);
  color: black;
  border: 1px solid var(--main-border-color);
  border-radius: var(--sm-border);
  width: fit-content;
  margin: 20px auto 0 ;
  padding: 2px 15px;
}
.heroHome .stekar{
  position: absolute;
  bottom: 13%;
  right: 6%;
}
.heroHome .box .borderImg{
  width: 23%;
  position: absolute;
  top: 0px;
  left: 38%;
}
.stekarTop{
  display: none;
}




@media ( max-width : 1050px ) {
  .heroHome .box {
    height: 600px;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  
  .heroHome .box .title{
    font-size: 30px;
    margin: 20px auto  ;
  }
  .stekar{
    width: 100px;
  }
  .heroHome .box .sliderImg{
    width: 30%;
    height: 40%;
    top: 50%;
    transform: translateY(-50%);
    display: none;
  }
  .heroHome .box .subBox{
    width:300px;
  }
  .heroHome .box .subBox .list{
    width: 100%;
  }
  .heroHome .box .subBox.one{
    top: 20%;
    right: 10%;
  }
  .heroHome .box .subBox.two{
    top: 50%;
    right: 48%;
  }
  .stekarTop{
    display: block;
    position: absolute;
    top: 20%;
    left: 10%;
    width: 100px;
    /* display: none; */
  }
  .heroHome .box .borderImg{
    display: none;
  }
}  


@media ( max-width : 500px ){
  .heroHome .box .title{
    margin: -30px auto  ;
    font-size: 34px;
    padding-bottom: 20px;
  }
  .heroHome .box .subBox{
    width:400px;
  }
  .heroHome .box .subBox.one{
    top: 10%;
    right: 0;
  }
  .heroHome .box .subBox.two{
    top: 55%;
    right: 0;
  }
  .heroHome .stekar{
    position: absolute;
    top: 45px;
    /* left: 400px; */
    width: 30px;
  }
  .stekarTop{
    display: block;
    position: absolute;
    top: 0;
    left: 10%;
    width: 60px;
  }
}   
