footer{
background-color: #7CB98E;
}


@media (max-width: 520px) {
   
}
@media (max-width: 768px) {
   
}
@media (max-width: 850px) {
   
}

.socia-icone{
    color: #157A67;
}
ul li{
    font-size: 20px;
    margin-bottom: 5px;
    color: #FDFDFD;
    cursor: pointer;
};






